[user]
	name = timstacy
	email = tim.stacy@tradingtechnologies.com
[core]
    editor = vim
    packedGitLimit = 512m
    packedGitWindowSize = 512m
    bigFileThreshold = 256m
[color]
    ui = true  # turn on colors
[alias]
	glog = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	myglog = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --author=\"YOUR NAME\"

	st = status
	co = checkout
	br = branch
	ds = difftool --dir-diff --staged
	df = difftool # --dir-diff
[diff]
    tool = meld  # do all the diffs in meld
[difftool]
	prompt = false
[mergetool]
    prompt = false  # do not prompt to use meld
[merge]
    tool = meld  # make the meld the default merge tool
[gc]
    auto = 0
[pack]
    deltaCacheSize = 256m
    windowMemory = 256m
    threads = 4
[git-tt]
    validate-jira-number = true
    include-jira-summary = true
    jira-summary-length = 40
    use-jira-as-prefix = true
    delete-branch = false
    branch-skip-confirm = true
[push]
	default = nothing
